


<div class="row" style="text-align: center;">
    <div class="col-md-6" style="margin: 50px 0">
        <a href="/users" style="  border: 1px solid #ddd;
                            padding: 16px;
                            text-decoration: none;
                            background: #ddd;
                            color: #000;
                            border-radius: 5px;">
            Personal Data
        </a>
    </div>

    <div class="col-md-6">
        <a href="" style="  border: 1px solid #ddd;
                            padding: 16px;
                            text-decoration: none;
                            background: #ddd;
                            color: #000;
                            border-radius: 5px;">
            Employment
        </a>
    </div>
</div>

